<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="patch" th:action="@{/companies/saveUpdateCompany}" th:object="${company}"
      style="text-align: center; margin-top: 300px; font-size: 40px">
    <input type="hidden" name="id" th:field="*{companyId}">
    <input type="text" th:value="${company.companyName}" th:field="*{companyName}">
    <input type="text" th:value="${company.locatedCountry}" th:field="*{locatedCountry}">
    <br>
    <input type="submit" value="Update">
</form>

</body>
</html>