<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>Salam ZykyrKum </h1>
<button type="button"><a th:href="@{/companies/addCompany}">AddCompany</a></button>
<button type="button"><a th:href="@{/companies}">Companies</a></button>
<button type="button"><a th:href="@{/courses}">Courses</a></button>
<button type="button"><a th:href="@{/groups}">Groups</a></button>
<button type="button"><a th:href="@{/students}">Students</a></button>
<button type="button"><a th:href="@{/teachers}">Teachers</a></button>
</body>
</html>